<!DOCTYPE html>
<html>
<head>
  <title>Chris Lehneis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="nav-wrapper">
		<%= render 'layouts/svgs/navbar' %>	
	</div>
	<%= render 'layouts/svgs/face' %>
	<%= yield %>
</body>
</html>
