<!DOCTYPE html>
<html>
<head>
  <title>Chris Lehneis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.7, user-scalable=0"/>
</head>
<body>
	<%= render 'layouts/svgs/navbar' %>	
	<%= render 'layouts/svgs/face' %>
	<%= yield %>
</body>
</html>
<script>
	// var handleMove = function (e) {
	//     var scrollable = false;
	//     var items = $(e.target).parents();
	//     $(items).each(function(i,o) {
	//         if($(o).hasClass("scrollable")) {
	//             scrollable = true;
	//         }
	//     });
	//     if(!scrollable)
	//         e.preventDefault();
	// };
	// document.addEventListener('touchmove', handleMove, true);
</script>
